main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 100px;
    margin-right: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    width: 330px;
    height: 310px;
}

body {
    background-color: #e5e5e5;
}

.input-texto {
    margin-top: 90px;
}

.mensaje {
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url(./assets/img/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 300px; */
    background-size: cover;
    /* max-width: 400px;
    max-height: 800px; */
}

.copiar {
    position: relative;
    margin-top: 20px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.encriptar {
    background-color: darkblue;
    color: white;
}

.desencriptar {
    margin-left: 30px;
}

.informacion {
    font-size: 15px;
}